.bar {
  width: 90%;
  background-color: #f1f2f3;
  border-radius: 20px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;

  .bar__wrapper {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 4px 14px;
    font-size: 14px;
    color: white;
    background-image: linear-gradient(to right bottom, var(--key-color), gold);

    .bar__icon {
      color: white;
      font-size: 20px;
      margin-right: 10px;
    }
  }
}
